    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    @layer utilities {
    html, body { height: 100%; }

        body {
            font-size: 100%;
            font-family: Lato, sans-serif;
        }
        .nav header a.brand {
            font-size: 1.4em;
            margin-left: 5px;
        }
        .red {
            color: #BC1321;
        }
        .navheaderColor {
            background-color: rgb(51, 51, 51);
            color: #FFF;
        }
        .header {
            padding: 0 5px;
            /*margin-top: 40px;*/
            background-color: #000;
        }
        .headerTitle {
            font-size: 3rem;
            line-height: 1.05;
            color: #FFF;
        }
        .header img {
            width: 45%;
            max-height: 200px;
        }

        .teaser {
            color: #FFF;
            margin-top: 5px;
            font-size: 2.25em;
            line-height: 1.25;
        }

        .body{
        min-height:100vh;

        }

        .body h1  {
            font-size: 3rem;
            line-height: 1.05;
            margin: 2px;
        }

        .social h3, .newsletter h3 {
            font-size: 1.75em;
            line-height: 1.25;
            padding:3px;
        }

        .footer {
         color: #FFF;
          padding: 0 5px;
          background-color: #000;
          display: flex;
            flex-direction: column;
        }

        .footer .newsletter {
            text-align:right
        }
        footer .social {
          width: 50%;
        }

        .copyright {
        	width: 100%;
        	background-color: #000;
        	color: #FFF;
        	align-items: center;
        }
    }
